//First_Subtitle
.First_Subtitle{
    text-align: center;
    font-size: 3.5vw;
    font-weight: bold;
    padding: 5vh;
    padding-bottom: 0;
}

//Second_Subtitle
.Second_Subtitle{
    text-align: center;
    font-size:2vw;
    padding: 5vh;
}

//Articles
.Articles{
    padding: 5vh;
    padding-top: 0;
}